{% extends 'base.html.twig' %}

{% block body %}
    <table border="1">
        <thead>
        <tr>

            <th>Nom Serie</th>
            <th>Moyenne Note</th>

        </tr>
        </thead>
        <tbody>

        <tr>

            <td>Serie</td>
            <td>Note</td>


        </tr>

        </tbody>
    </table>

{% endblock %}