<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Les reality shows les plus regardés</title>
</head>
<body>

<p>name: {{ tvshow.name }}</p>
<p>type: {{ tvshow.type }}</p>
<p>url: {{ tvshow.url }}</p>
<p>year: {{ tvshow.year }}</p>



</body>
</html>