<nav>
    <div class="nav-wrapper">
        <a href="{{ path('qr_tv_show_manager_note') }}" class="brand-logo left">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('qr_tv_show_manager_tvShow_read') }}">Tv Shows</a></li>
            <li><a href="{{ path('qr_tv_show_manager_note') }}">Notes</a></li>
        </ul>
    </div>
</nav>