<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>
    Gérer les Series : <a href="{{ path('nlf_tv_show_manager_add_tvshow') }}">Cliquez ici</a>

</p>
<p>
    Gérer les Episodes : <a href="{{ path('nlf_tv_show_manager_add_episode') }}">Cliquez ici</a>
</p>
</body>
</html>