{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
<h1>{{ episode.name }} <span class="label label-info">S{{ episode.season }}E{{ episode.number }}</span></h1>

    <p>{{ episode.name }}</p>


</div>
{% endblock %}